@font-face { font-family: Quicksand; src: url('fonts/Quicksand-Regular.ttf'); }
@font-face { font-family: Quicksand-Medium; font-weight: bold; src: url('fonts/Quicksand-Medium.ttf');}
@font-face { font-family: Quicksand-Bold; font-weight: bold; src: url('fonts/Quicksand-SemiBold.ttf');}
@font-face { font-family: Sriracha-Working; font-weight: bold; src: url('fonts/Sriracha-Regular.ttf');}

body
{
    /* No white border*/
    margin: 0;
    padding: 0;

    /* Default font for all text (Overridable) */
    font-family: "Segoe MDL2 Assets", sans-serif;
}

/* Background Image Stuff */
body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

iframe
{
    border: 0.25vw solid black;
    border-radius: 0.15vw;
}

/* Font stuff for title names stuff, e.g., Climate Change */
.titleName
{
    position: absolute;
    margin-left: 4.4vw;
    margin-top: 6vw;

    font-size: 6vw;
    color: ghostwhite;

    -webkit-text-stroke: 0.225vw black;
}

.alternativeTitle
{
    position: absolute;
    margin-left: 1.75vw;
    margin-top: 3vw;

    font-size: 5.25vw;
    color: ghostwhite;

    -webkit-text-stroke: 0.175vw black;
}

/* Image that comes with the title (Usually below it), e.g., the wildfire picture below "Climate Change" */
.titleImage
{
    width: 100%;
    height: auto;
    display: inline-block;
}

.titleCitation
{
    position: absolute;
    margin-left: calc(82vw);
    margin-top: calc(25vw);
    white-space: nowrap;

    font-size: 1vw;
    color: ghostwhite;
    background-color: black;
}


/* For stuff like "Effects" on the main page */
.secondaryTitle
{
    color: ghostwhite;
    font-size: 5vw;
    text-align: center;

    -webkit-text-stroke: 0.15vw black;
}

.imagesWrapper
{
    display: inline-block;
    white-space: nowrap;
}

.effects
{
    width: 25%;
    float: left;
    margin: -0.2vw;
    text-align: center;
    padding: 0 0 10vw;
}

.effectsImages
{
    margin-top: 2vw;
    margin-left: 0;
    width: 90%;

    border: 0.15vw solid floralwhite;
    border-radius: 0.25vw;
}

.effectsCaption
{
    font-size: 2vw;
    color: ghostwhite;
    text-shadow: 0 0 2vw ghostwhite;
}

/* Current Policies Page */

.position
{
    width: 30%;
    float: left;
    text-align: center;
    padding: 0 0 8vw;
    margin: 1vw 0 0 1.5vw;
}

.positionImages
{
    margin-top: 2vw;
    width: 90%;

    border: 0.2vw solid ghostwhite;
    border-radius: 0.5vw;
}

.positionCaption
{
    position: absolute;
    font-size: 2.5vw;
    font-family: "JetBrains Mono", sans-serif;
    font-weight: normal;
    margin-top: 0.5vw;
    color: ghostwhite;
    text-shadow: 0 0 2vw black, 0 0 2vw black, 0 0 2vw black;
}

.policyBox
{
    margin-left: 8vw;
    margin-top: 8vw;

    background-color: ghostwhite;
    color: black;
    border: 0.2vw solid black;

    width: 82.5%;
    height: 43vw;
}

.policyBoxTitle
{
    font-size: 8vw;
    font-family: Sriracha, sans-serif; !important;
    color: ghostwhite;
    margin-top: 0;
    -webkit-text-stroke: 0.25vw black;

    position: absolute;
}

.policyBoxPicture
{
    margin-top: -0.01vw;
    width: 100.01%;
    height: auto;
}

.policyBoxSummary
{
    font-size: 1.5vw;
    line-height: 3vw;
    margin-left: 3vw;
    margin-top: 1vw;
}

.policyBoxVideo
{
    position: absolute;
    width: 38vw;
    height: 21.25vw;
    margin-top: 18vw;
}