/* Specific timeline stuff for the timeline photo */
.timeline
{
    padding: 0;
    height: 27vw;
    width: auto;
    display: inline-block;
}

/* Timeline stuff for scrolling */
.timelineWrapper
{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.timelineInstruction
{
    position: absolute;

    color: ghostwhite;
    margin-top: 0.75vw;
    margin-left: 0.5vw;
    font-size: 0.85vw;

    white-space: nowrap;
}

.timelineTitle
{
    position: absolute;
    margin-left: calc(40.25vw);
    margin-top: calc(0.35vw);
    white-space: nowrap;

    font-size: 1.5vw;
    color: ghostwhite;
    background-color: black;

}