body
{
    /* No white border*/
    margin: 0;
    padding: 0;

    /* Background Image Stuff */
    background-image: url('images/BlackSpace.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    /* Default font for all text (Overridable) */
    font-family: "Segoe MDL2 Assets", sans-serif;
}

/* Font stuff for title names stuff, e.g., Climate Change */
.titleName
{
    position: absolute;
    margin-left: 4.4vw;
    margin-top: 6vw;

    font-size: 6vw;
    color: white;

    -webkit-text-stroke: 0.225vw black;
}

/* Image that comes with the title (Usually below it), e.g., the wildfire picture below "Climate Change" */
.titleImage
{
    width: 100%;
    height: auto;
    margin: auto;
    display: inline-block;
}

.titleCitation
{
    position: absolute;
    margin-left: calc(83vw);
    margin-top: calc(26vw);
    white-space: nowrap;

    font-size: 1vw;
    color: white;
    background-color: black;
}


/* For stuff like "Effects" on the main page */
.centeredTitle
{
    color: white;
    text-align: center;
    font-size: 4.5vw;

    -webkit-text-stroke: 0.15vw black;
}

/* Specific timeline stuff for the timeline photo */
.timeline
{
    padding: 0;
    height: 27vw;
    width: auto;
    display: inline-block;
}

/* Timeline stuff for scrolling */
.timelineWrapper
{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

/* For the effects pictures on home page */
.effects
{
    display: inline-block;
    white-space: nowrap;
    margin-top: 2vw;
    margin-left: 1.6vw;
    width: 22%;

    border: 0.1vw solid ghostwhite;
}