/* Actual Solution Images */
.solutions
{
    margin-top: 2vw;
    margin-left: 0;
    width: 90%;

    border: 0.15vw solid black;
}

/* <Figure> */
.solutionImages
{
    width: 25%;
    float: left;
    margin: -0.6vw;
    text-align: center;
    padding: 0 0 8vw;

}

.solutionCaption
{
    position: absolute;
    font-size: 2.5vw;
    font-family: "JetBrains Mono", sans-serif;
    font-weight: normal;
}

.solutionBox
{
    margin-bottom: 0;
    background-color: white;
    border-radius: 0.4vw;
    color: black;
    border: 0.15vw solid black;

    margin-top: 5vw;
    width: 31%;
    height: 40vw;
    position: relative;
    display: inline-block;
}

.solutionTitle
{
    margin-left: 3vw;
    padding-top: 0.75vw;

    font-size: 2vw;
}
