.timelineInstruction
{
    position: absolute;

    color: white;
    margin-top: 0.75vw;
    margin-left: 0.5vw;
    font-size: 0.85vw;

    white-space: nowrap;
}

.timelineTitle
{
    position: absolute;
    margin-left: calc(40.25vw);
    margin-top: calc(0.35vw);
    white-space: nowrap;

    font-size: 1.5vw;
    color: white;
    background-color: black;

}