
/* For Titles on different pages */
/* Use vw (Viewport) as the scale because it's better for scaling */
h1
{
    position: absolute;
}

.TitleHeader
{
    margin-left: calc(4vw);
    margin-top: calc(2vw);
    font-size: calc(5.5vw);
    font-family: "Segoe MDL2 Assets", sans-serif;
    color: ghostwhite;

    -webkit-text-stroke: 0.25vw black;
}

.Headers
{
    margin-left: calc(4vw);
    margin-top: calc(3vw);
    font-size: calc(4vw);
    font-family: "Segoe MDL2 Assets", sans-serif;
    color: ghostwhite;

    -webkit-text-stroke: 0.15vw black;
}

.TitleCitation
{
    margin-left: calc(84vw);
    margin-top: calc(26vw);
    font-size: calc(1vw);

    font-family: "Arial", sans-serif;
    color: white;
    position: absolute;
    background-color: black;
}

body
{
    background-color: whitesmoke;
    margin: 0;
    width: 100%;
    height: auto;
}

iframe
{
    width: 41vw;
    height: 23vw;


    position: absolute;
    margin-left: calc(3vw);
    margin-top: calc(22vw);
}

img
{
    width: 100%;
    height: auto;
}