
/* For Titles on different pages */
h1
{
    /* Use vw (Viewport) as the scale because it's better for scaling */
    margin-left: calc(4vw);
    margin-top: calc(2vw);
    font-size: calc(6vw);
    font-family: "Segoe MDL2 Assets", sans-serif;
    color: ghostwhite;

    -webkit-text-stroke: calc(3px) black;
}

.TitleCitation
{
    margin-left: calc(84vw);
    margin-top: calc(26vw);
    font-size: calc(1vw);

    font-family: "Arial", sans-serif;
    color: white;
    position: absolute;
    background-color: black;;
}

body
{
    background-color: whitesmoke;
    margin: 0;
    width: 100%;
    height: auto;
}

.Header
{
    position: absolute;
}

img
{
    width: 100%;
    height: auto;
}